body{
    font-family: 'Source Code Pro', monospace;
    background-color:#000000;
}

div.title{
    width: 100%;
    height: 100%;
}

h1{
  color: #faf0e6;
    font-weight: 400;
    font-size: 1.5em;
    max-width: 800px;
    text-align: left;
    margin: 5px, 5px;
    margin-right: auto;
    margin-left: 5px;
    margin-bottom: auto;
}

h2{
  color: #faf0e6;
    font-weight: 200;
    font-size: 1.50em;
    max-width: 800px;
    text-align: left;
    text-align: left;
}

h3{
  color: #faf0e6;  
  font-size: 1.00em;
    font-weight: 300;
    max-width: 800px;
    text-align: left;
    margin-top: 5px;
    margin-right: auto;
    margin-left: 5px;
    margin-bottom: auto;
}

div.bio_image{
    color: #faf0e6;
    max-width: 800px;
    margin-top: 100px;
    margin-right: auto;
    margin-left: 5px;
    margin-bottom: auto;
}

img.bioImage{
    width: 30%;
    margin-top: 5px;
    margin-right: auto;
    margin-left: 5px;
    margin-bottom: auto;
    display: block;
}

img.histodiagram{
    width: 60%;
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
<<<<<<< HEAD
    display: block;
}


img.histodiagram_small{
    width: 30%;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: auto;
    margin-left: left;
    margin-bottom: auto;
    display: block;
}

img.histodiagram_small2{
    width: 50%;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: auto;
    margin-left: left;
    margin-bottom: auto;
    display: block;
}

=======
    display: block;
}


img.histodiagram_small{
    width: 30%;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: auto;
    margin-left: left;
    margin-bottom: auto;
    display: block;
}

img.histodiagram_small2{
    width: 50%;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: auto;
    margin-left: left;
    margin-bottom: auto;
    display: block;
}

>>>>>>> 17e48a56b6d09878c2393b9a1994f28a81434050
div.bio_text{
    color: #faf0e6;
    max-width: 800px;
    margin-top: -200px;
    margin-right: auto;
    margin-left: 300px;
    margin-bottom: auto;
}

p.bioText{
    color: #faf0e6;
    font-weight: 300;
    font-size: 0.80em;
    line-height: 130%;
}

p.bioText > a{
    color: #faf0e6;
}

p.bioText > a:hover{
    background-color: #faf0e6; 
}

div.linkList{
  color: #faf0e6;  
  font-size: 0.80em;
    font-weight: 200;
    max-width: 800px;
    text-align: left;
    margin-top: 150px;
    margin-right: auto;
    margin-left: 5px;
    margin-bottom: auto;
}

}

li.assignmentLink{
    font-weight: 200;
    font-size: 1.00em;
    line-height: 130%;
}

li.assignmentLink > a{
    color: #faf0e6;
}

li.assignmentLink > a:hover{
    background-image: "img/tripura.gif";

}
